<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
</head>
<body>
  <nav id="main-menu">
    <ul>
      <li><a href="{{ site.baseurl }}/index.html">Qui suis-je ?</a></li>
      <li><a href="{{ site.baseurl }}/skills.html">Compétences</a></li>
      <li><a href="{{ site.baseurl }}/achievements.html">Réalisation</a></li>
      <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
    </ul>
  </nav>

  <div id="wrapper">