<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/vendor/leaflet/leaflet.css">
</head>
<body>
  <header class="main-header">
    <div class="main-header__wrapper">
      <a href="" class="main-header__logo"><span>Test</span></a>
      <input id="menu-btn" class="main-header__menu-btn" type="checkbox" />
      <label for="menu-btn" class="main-header__menu-icon"><span></span></label>
      <nav class="main-header__navigation">
        <ul>
          <li><a href="{{ site.baseurl }}/index.html">Qui suis-je ?</a></li>
          <li><a href="{{ site.baseurl }}/skills.html">Compétences</a></li>
          <li><a href="{{ site.baseurl }}/achievements.html">Réalisation</a></li>
          <li><a href="{{ site.baseurl }}/contact.html">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="content-wrapper">