
<div class="profile-card">gfdsgdfg</div>
<div class="location">dfsgsdfg<br>qsfqsdf</div>
<div class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto fugit omnis facere delectus sint molestias placeat quo quos laborum, autem possimus veritatis iste facilis nemo blanditiis earum aliquid nobis mollitia.
Adipisci magni unde libero recusandae minima eligendi, distinctio explicabo quia consequuntur sunt repellendus quaerat culpa veritatis perferendis voluptatum autem odit dolor iste aut blanditiis quasi ut. Alias commodi ex enim.
Itaque aliquid libero quas rem explicabo sequi possimus labore rerum illo aut. Quis enim itaque repudiandae atque? Laborum, provident error esse possimus unde, aspernatur consequatur, illum ipsum ipsam repellendus fugit!
Illum asperiores doloribus deleniti. Molestiae, saepe tempore? Dolore impedit exercitationem unde! Ipsa, dicta? Animi perspiciatis exercitationem tenetur natus quam debitis voluptatum nisi. Minima iure molestiae perspiciatis officiis sunt, maxime in.</div>
<div class="experience">dsfgdsfg</div>
