
<div class="profile-card">
  <h2><small>Un peu plus sur moi</small></h2>
  {% for about_me in site.data.about-me %}
  <p class="profile-card__birth-city"><strong>Natif de : </strong>{{ about_me.birth_city }}</p>
  <p class="profile-card__birth-day"><strong>Âge : </strong><span id="aboutMeAge" data-birthday="{{ about_me.birth_day }}"></span></p>
  <div class="profile-card__hobbies">
    <p><strong>Hobbies : </strong></p>
    <ul>
      {% for hobbie in about_me.hobbies %}
      <li>
        <i class="material-icons">{{ hobbie.class }}</i>
        <span>{{ hobbie.tag }}</span>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>
<div class="location">
  <div id="map"></div>
</div>
<div class="bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto fugit omnis facere delectus sint molestias placeat quo quos laborum, autem possimus veritatis iste facilis nemo blanditiis earum aliquid nobis mollitia.
Adipisci magni unde libero recusandae minima eligendi, distinctio explicabo quia consequuntur sunt repellendus quaerat culpa veritatis perferendis voluptatum autem odit dolor iste aut blanditiis quasi ut. Alias commodi ex enim.
</div>
<div class="experience">dsfgdsfg</div>
